body{
    background-image: url("img/fundo.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}

H1{
    color: rgb(168, 7, 7);
}
.header{
    text-align: center;
}
.header .perfil{
    width: 15%;
    border-radius: 5%;
    align: center;
    
}

.dados-pessoais{
    text-align: justify;
    padding-left: 5%;
}
.linkedin {
    width: 4%;
}
.github{
    width: 4%;
}
.descricao{
    padding-left: 5%;
}
.objetivo-profissional{
    padding-left: 5%;
}
.formacao-academica{
    padding-left: 5%; 
}
.cursos{
    padding-left: 5%;
}
.conhecimentos{
    padding-left: 5%; 
}
.links-interesse{
       padding-left: 5%;
}
footer{
    text-align: center;
    font-size: 10px;
    
}
