body{
    background-color: rgb(255, 185, 213);
}
.linha{
    display: flex;
    flex-flow: row;
    padding: 100pt;
}

.flexbox1 {
    text-align: center;
    font-size: 50px;
    display: flexbox;
    background: #ff0000;
    padding: 100pt;
    margin: 10px;
    flex-grow: 1;
    width: -40;
}

.flexbox2 {
    text-align: center;
    font-size: 50px;
    display: flexbox;
    background: #ca0098;
    padding: 100pt;
    margin: 10px;
    flex-grow: 1;
}